# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017/
DATABASE_NAME=anlikcevirisistemi
COLLECTION_NAME=users

# Google Cloud Credentials
# Download your service account JSON from Google Cloud Console
# and save it as service-account.json in the backend folder
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
